  <% if notice.present? %>
    <p class="opacity-75 py-2 px-3 bg-green-600 mb-5 text-slate-100 font-medium rounded-full inline-block" id="notice" >
      <%= notice %>
    </p>
  <% end %>


  <% if alert.present? %>
    <p class="opacity-75 py-2 px-3 bg-red-700 mb-5 text-slate-300 font-medium rounded-full inline-block" id="notice" >
      <%= alert %>
    </p>
  <% end %>